/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



/* custom */
.text-input {
  /* 其他样式... */
  position: relative;
}

.cursor {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  width: 2px;
  height: 1em;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s;

  display: inline-block;
  position: relative;
  top: 3px;
  width: 3px;
  margin-left: 3px;
}

.cursor.visible {
  opacity: 1;
}